<h1 align="center"><%= @store.company.name %> <%= @store.name %></h1>
<h3><%= @store.catch_copy %></h3>
<h3><%= @store.introduction_text %></h3>
<br>

<h3><%= @store.company.name %>で売却した人の口コミ（平均評価 ★<%= @satisfaction_average.floor(1) %>）</h3>
<br>
<% @store.reviews.each do |review| %>
  <div class=" card-deck">
    <%= link_to review_path(review), class: "text-decoration-none text-dark" do %>
      <div class="card text-center">
        <div class="card-header h5">
          <p align="left"><%= review.headline %>： ★<%= review.satisfaction %></p>
        </div>
        <div class="card-body h5">
          <p align="left"><%= review.satisfaction_reason %></p>
        </div>
        <div class="card-footer text-muted pull-left" , align="right">
          成約価格 <%= get_cost_format(review.closing_price) %>
          (<%= review.city.prefecture.name %><%= review.city.name %>・<%= get_ymformat(review.sale_at) %>に売却)
        </div>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
<br>

<%= render 'layouts/about' %>
