<div class="mt-3">
  <h1>口コミを見て、確信を持って査定依頼を。</h1>
  <p class="mt-2">
    不動産を査定依頼に出したいけれど、どの会社を選べば良いのか分からない...<br>
    実際に不動産会社との取引を体験した人の口コミを見て、確信を持って査定依頼をしましょう！
  </p>
</div>

<div id="prefecture_links_box" class="mt-4">
  <div class="card">
    <h2 class="card-header">都道府県から探す</h2>
    <div class="card-body">
      <h4>北海道・東北地方</h4>
      <% @prefectures[0..6].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>

      <h4 class="mt-3">関東地方</h4>
      <% @prefectures[7..13].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>

      <h4 class="mt-3">中部地方</h4>
      <% @prefectures[14..22].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>

      <h4 class="mt-3">近畿地方</h4>
      <% @prefectures[23..29].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>

      <h4 class="mt-3">中国地方</h4>
      <% @prefectures[30..34].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>

      <h4 class="mt-3">四国地方</h4>
      <% @prefectures[35..38].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>

      <h4 class="mt-3">九州・沖縄地方</h4>
      <% @prefectures[39..46].each do |prefecture| %>
        <%= link_to prefecture.name, prefecture_path(prefecture) %>&nbsp;
      <% end %>
    </div>
  </div>
</div>
