<div style="margin: 30px;">
  <h1 align="center">査定依頼フォーム</h1>
</div>

<%= form_with model: @evaluation_request do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.hidden_field :branch_id, value: @ieul_store_id %>
  <%= f.hidden_field :url_param, value: "サーテイン" %>

  <div align="center">
    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_city, "市区町村" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <p class="mt-1">(※該当の不動産会社が査定可能な地域のみを選択肢として表示しています)</p>
      <%= f.select :property_city, @store.valuation_areas.map{ |area| [ "#{area.city.name} (#{@store.city.prefecture.name})", area.city.id ] }, {prompt: "選択してください"}, class: "form-select" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_address, "以降住所" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.text_field :property_address, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_type, "物件種別" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.collection_select :property_type, PropertyType.all, :id, :name, {prompt: "選択してください"}, class: "form-select" %>
    </div>

    <div style="margin-top: 30px">
      <div style="width: 600px; margin-top: 10px;" align="left">
        <p>
          面積単位を選択してください
          &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
        </p>
        <%= f.label :property_building_area_unit, '平方メートル', value: 1 %>
        <%= f.radio_button :property_building_area_unit, '1' %>
      </div>

      <div style="width: 600px; margin-top: 10px;" align="left">
        <%= f.label :property_building_area_unit, '坪', value: 2 %>
        <%= f.radio_button :property_building_area_unit, '2' %>
      </div>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_exclusive_area, "専有面積" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.number_field :property_exclusive_area, step: 0.1, class: "form-control"  %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_land_area, "土地面積" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.number_field :property_land_area, step: 0.1, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_building_area, "建物面積" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.number_field :property_building_area, step: 0.1, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_floor_area, "延床面積" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.number_field :property_floor_area, step: 0.1, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_room_plan, "間取り" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.select :property_room_plan, { "1R(ワンルーム)": 1, "1K/1DK": 2, "1LK/1LDK": 3, "2K/2DK": 4, "2LK/2LDK": 5, "3K/3DK": 6, "3LK/3LDK": 7, "4K/4DK": 8, "4LK/4LDK": 9, "5K/5DK": 10, "5LK/5LDK": 11, "6K/6DK": 12, "6LK/6LDK以上": 13 }, {prompt: "選択してください"}, class: "form-select" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :property_constructed_year, "築年数（※西暦で入力してください）" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.number_field :property_constructed_year, min: 1925, max: 2016, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      お名前
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
    </div>
    <div style="width: 600px; margin-top: 5px;" align="left" class="d-flex justify-content-start">
      <div>
        <%= f.label :user_name_last, "姓" %>
        <%= f.text_field :user_name_last, class: "form-control" %>
      </div>
      &emsp;&emsp;&emsp;
      <div>
        <%= f.label :user_name_first, "名" %>
        <%= f.text_field :user_name_first, class: "form-control" %>
      </div>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      ふりがな
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
    </div>
    <div style="width: 600px; margin-top: 5px;" align="left" class="d-flex justify-content-start">
      <div>
        <%= f.label :user_name_last_kana, "せい" %>
        <%= f.text_field :user_name_last_kana, class: "form-control" %>
      </div>
      &emsp;&emsp;&emsp;
      <div>
        <%= f.label :user_name_first_kana, "めい" %>
        <%= f.text_field :user_name_first_kana, class: "form-control" %>
      </div>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
       <%= f.label :user_email, "メールアドレス" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.text_field :user_email, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px;" align="left">
      <%= f.label :user_tel, "電話番号（※ハイフンなし）" %>
      &nbsp;<nobr class="badge rounded-pill bg-danger" style="font-size: .4em; translate: 0px -2px;">必須</nobr>
      <%= f.text_field :user_tel, class: "form-control" %>
    </div>

    <div style="width: 600px; margin-top: 30px; margin-bottom: 30px;">
      <%= f.submit "査定依頼をする", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
