<h1 align="center"><%= @city.prefecture.name %><%= @city.name %>の不動産会社</h1>

<%= render 'layouts/store' %>

<div id="city_links_box">
  <% if @cities.present? %>
    <div class="card">
      <p class="card-header"><%= @city.prefecture.name %>の地域</p>
      <div class="card-body">
        <% @cities.each do |city| %>
          <span style="line-height:200%;">
          <%= link_to city.name, prefecture_city_path(prefecture_id: city.prefecture_id, id: city.id) %>  |
          </span>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= @city.prefecture.name %> には表示できる地域が存在しません。
  <% end %>
</div>
