<div style="margin: 30px;">
  <h1 align="center"><%= @review.headline %></h1>
</div>

<div class="d-flex justify-content-around" style="margin-top: 30px;">
  <table class="table table-bordered" style="width: 400px; margin-top: 10px;">
    <thead>
    <tr align="center">
      <th colspan="2">基本情報</th>
    </tr>
    <tr>
      <td scope="col" style="width: 200px; height: 40px;">売却した不動産会社名</td>
      <td scope="col" style="width: 200px; height: 40px;"><%= @store.name %></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="col" style="width: 200px; height: 40px;">住所</td>
      <td scope="col" style="width: 200px; height: 40px;"><%= @review.city.prefecture.name %><%= @review.city.name %></td>
    </tr>
    <tr>
      <td scope="col" style="width: 200px; height: 40px;">売却の理由</td>
      <td scope="col" style="width: 200px; height: 40px;"><%= @sale_reason %></td>
    </tr>
    <tr>
      <td scope="col"style="width: 200px; height: 40px;">売却経験</td>
      <td scope="col" style="width: 200px; height: 40px;"><%= @sale_count %></td>
    </tr>
    </tbody>
  </table>
  <%= render 'layouts/about' %>
</div>

<div style="margin-top: 40px;">
  <h4>売却時に不安だったこと</h4>
  <p><%= @review.worried %></p>
</div>

<div style="margin-top: 40px;">
  <h4>この会社に決めた決め手</h4>
  <p><%= @review.decision_reason %></p>
</div>

<div style="margin-top: 40px;">
  <h4>不動産会社の対応満足度： ★<%= @review.satisfaction %></h4>
  <p><%= @review.satisfaction_reason %></p>
</div>

<div style="margin-top: 40px;">
  <h4>今後売却する人へのアドバイス</h4>
  <p><%= @review.advice %></p>
</div>

<div style="margin-top: 40px;">
  <h4>不動産会社に改善してほしい点</h4>
  <p><%= @improvement_point %></p>
</div>

<div style="margin-top: 40px;">
  <h4>売却時期と価格について</h4>
</div>
<table class="table table-bordered" style="width: 450px; margin-top: 10px;">
  <thead>
  <tr>
    <th scope="col" style="width: 150px;"></th>
    <th scope="col" style="width: 150px;">時期</th>
    <th scope="col" style="width: 150px;">価格</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">売却検討</th>
    <td><%= get_ymformat(@review.sale_consideration_at) %></td>
    <td>-</td>
  </tr>
  <tr>
    <th scope="row">査定依頼</th>
    <td><%= get_ymformat(@review.evaluation_request_at) %></td>
    <td><%= get_cost_format(@review.evaluation_price) %></td>
  </tr>
  <tr>
    <th scope="row">売出</th>
    <td><%= get_ymformat(@review.launch_at) %></td>
    <td><%= get_cost_format(@review.sale_price) %></td>
  </tr>
  <tr>
    <th scope="row">売却</th>
    <td><%= get_ymformat(@review.sale_at) %></td>
    <td><%= get_cost_format(@review.closing_price) %></td>
  </tr>
  <tr>
    <th scope="row">引き渡し</th>
    <td><%= get_ymformat(@review.delivery_at) %></td>
    <td>-</td>
  </tr>
  </tbody>
</table>
